<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
    </div>
    <div class="card-body">
        {{blog_text}}
    </div>
</div>