<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="../public/css/style.css"
<body>
    <div class="landing-container">
        <nav class="nav-container">
            <ul class="nav-list">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">Dashboard</a></li>
                <li class="nav-item"><a href="#">Login</a></li>
                <li class="nav-item"><a href="#">Logout</a></li>
            </ul>
        </nav>
        <header>
            <h1 data-description="name">Tech Blog</h1>
            <!-- <img src="./assests/images/profilePic.jpg" alt="" data-description="landing-profile-picture"> -->
        </header>
    </div>
    
</body>
</html>